* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

h2 {
  font-size: 22px;
  color: #fff;
}

h4 {
  font-size: 4rem;
  color: #fff;
}

.bg-light {
  background: #fff;
  margin: 0 4px 0px 3px;
  border-radius: 0 0 8px 8px;
}

a {
  text-decoration: none;
  color: #fff;
}

.bg-home {
  position: relative;
  top: 0;
  left: 0;
}

.header-img {
  width: 78.9598rem;
}

.container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 4rem;
  position: absolute;
  top: 0;
  left: 0;
}

.container .logo img {
  width: 51.25px;
  height: 51.35px;
}

.container h1 {
  color: #fff;
  padding-left: 0.7rem;
}

.container .btn-link {
  margin-left: 3.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f4f4f4;
  color: black;
}

.container .fas {
  display: inline;
  padding-left: 3rem;
  color: #333;
}

.container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2.5rem;
}

.container .nav h2 {
  padding-left: 50.1rem;
}

.container .nav img {
  width: 20px;
  height: 20px;
}

.container .nav div {
  padding-left: 2rem;
}

.container .content-home {
  position: absolute;
  top: 0;
  left: 0;
  margin: 11rem 0;
}

.container .content-home .content h4 {
  padding-left: 60px;
  margin-bottom: 2rem;
}

.container .content-home .content p {
  color: #fff;
  padding-left: 60px;
  font-size: 20px;
  margin-bottom: 3rem;
}

.shopping {
  margin-top: 4rem;
  margin-bottom: 11rem;
}

.shopping .products {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[4]; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0 2rem;
  text-align: center;
}

.shopping h1 {
  padding-left: 2.4rem;
  margin-bottom: 2rem;
}

.shopping p {
  padding: 1rem 0;
  font-size: larger;
}

.shopping img {
  width: 280px;
  height: 195px;
  overflow: hidden;
  margin-bottom: -5px;
  border-radius: 5px 5px 0 0;
}

.shopping .sachet,
.shopping .dispenser,
.shopping .truck {
  -webkit-box-shadow: 12px 12px 20px 12px rgba(167, 251, 167, 0.231);
  box-shadow: 12px 12px 20px 12px rgba(167, 251, 167, 0.231);
}

#work .works {
  text-align: center;
  background: #b7cdfa;
  width: 300px;
  height: 22px;
  justify-items: center;
  -ms-grid-column-align: center;
  justify-self: center;
  margin-left: 33rem;
}

#work .work-text {
  text-align: center;
  margin-top: -3rem;
  font-size: 40px;
  padding-left: 6rem;
  color: #333;
}

#work .work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4rem;
  margin-bottom: 3rem;
}

#work img {
  width: 90px;
  height: 80px;
  padding-bottom: 1rem;
}

#work .work-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1.2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#work .work-img h2 {
  color: #080808;
}

#work .work-img p {
  padding-top: 0.5rem;
  font-size: 1rem;
}

.drink {
  margin-bottom: 4rem;
}

.drink img {
  height: 478px;
  width: 1263px;
  left: 0;
  top: 0;
  margin-bottom: 2rem;
}

.drink .header-drink {
  margin-bottom: 1.5rem;
  font-size: 39px;
  text-align: center;
  color: #080808;
}

.drink .text-drink {
  text-align: center;
  color: #080808;
}

.drink p {
  font-size: 22px;
}

.vendor {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #dde8fd;
}

.vendor img {
  width: 650px;
  height: 550px;
}

.vendor-text {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2rem;
  padding: 6rem 0 0 2rem;
}

.vendor .header-vendor {
  margin-bottom: 1.5rem;
  font-size: 49px;
  font-weight: 700;
  color: #080808;
}

.vendor p {
  font-size: 19.6px;
  line-height: 1.4;
  margin-bottom: 5rem;
}

.vendor .vendor-text {
  margin-right: 1rem;
}

.vendor .vendor-text .btn-vendor {
  margin-right: 3.5rem;
  padding: 1rem 4rem;
  cursor: pointer;
  font-size: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #093faa;
}

.vendor .fas {
  padding-left: 1.5rem;
}

#phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: -14rem;
}

#phone .phone {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 7rem;
  padding-left: 4.5rem;
}

#phone .phone .text-phone {
  font-size: 22px;
  margin-bottom: 2.6rem;
  padding-right: 5rem;
}

#phone .phone .header-phone {
  color: #0c56e9;
  line-height: 1.3;
  font-size: 2.5rem;
  margin-bottom: 2.8rem;
}

#phone .img-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-right: 2rem;
  margin-bottom: 5rem;
}

#phone .img-phone {
  z-index: -2;
  height: 604px;
  width: 303.2px;
  border-radius: 0px;
  top: 0;
  right: 0;
  margin-left: 13rem;
  padding-top: -2rem;
}

.start {
  margin-top: -5rem;
  background-color: #0c56e9;
  text-align: center;
}

.start h3 {
  font-size: 3rem;
  padding-top: 6rem;
  color: #fff;
  margin-bottom: 4rem;
}

.start .btn-start {
  background: #fff;
  color: #286bf0;
  padding: 1rem 4.5rem;
  margin-left: 30rem;
  position: absolute;
  z-index: 2;
}

.start img {
  width: 1190px;
  height: 298px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  margin-top: -11rem;
  position: relative;
}

#footer {
  background: #f0f5ff;
}

#footer .main-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
  margin-left: 2rem;
}

#footer .main-footer .image {
  padding: 3rem 0 0 3rem;
}

#footer .main-footer div {
  padding-top: 3rem;
  margin-bottom: 4rem;
}

#footer .main-footer ul {
  list-style: none;
  line-height: 2.4;
  font-size: 19px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#footer .main-footer h4 {
  color: #286bf0;
  font-size: 21px;
  padding-bottom: 1rem;
}

#footer .subscribe {
  padding-left: 17rem;
}

#footer .subscribe input {
  padding: 0.45rem 5rem 0.45rem 1rem;
  margin-bottom: 3rem;
  border: 1px solid #286bf0;
}

#footer .btn {
  background: #0c56e9;
  padding: 0.5rem 1rem 0.5rem 2rem;
  margin: 0.5rem 0rem 0.5rem -2.999px;
}

#footer .text-address {
  padding: 5rem;
}

#footer .text-address span {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/*# sourceMappingURL=main.css.map */
