@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

h2 {
  font-size: 22px;
  color: #fff;
}

h4 {
  font-size: 4rem;
  color: #fff;
}

.bg-light {
  background: $bg-light;
  margin: 0 4px 0px 3px;
  // padding-bottom: -6px;
  border-radius: 0 0 8px 8px;
}

a {
  text-decoration: none;
  color: #fff;
}

// #bg-img {
//   background-image: url(".../img/Header\ Image.png") center center/cover;
// }

.bg-home {
  position: relative;
  top: 0;
  left: 0;
  // margin-bottom: 4rem;
}

.header-img {
  width: 78.9598rem;
}

.container {
  .logo {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo img {
    width: 51.25px;
    height: 51.35px;
  }

  h1 {
    color: #fff;
    padding-left: 0.7rem;
  }

  .btn-link {
    margin-left: 3.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    background: #f4f4f4;
    color: darken(#333, 20);
  }

  .fas {
    display: inline;
    padding-left: 3rem;
    color: #333;
  }

  .nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2.5rem;
  }

  .nav h2 {
    padding-left: 50.1rem;
  }

  .nav img {
    width: 20px;
    height: 20px;
  }

  .nav div {
    padding-left: 2rem;
  }

  .content-home {
    position: absolute;
    top: 0;
    left: 0;
    margin: 11rem 0;

    .content h4 {
      padding-left: 60px;
      margin-bottom: 2rem;
    }
    .content p {
      color: #fff;
      padding-left: 60px;
      font-size: 20px;
      margin-bottom: 3rem;
    }
  }
}

.shopping {
  margin-top: 4rem;
  margin-bottom: 11rem;
  // margin-right: 49px;

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 0 2rem;
    // margin: 2rem 0 0;
    text-align: center;
  }

  h1 {
    padding-left: 2.4rem;
    margin-bottom: 2rem;
  }

  p {
    // background: #fff;
    padding: 1rem 0;
    font-size: larger;
  }

  img {
    width: 280px;
    height: 195px;
    overflow: hidden;
    margin-bottom: -5px;
    border-radius: 5px 5px 0 0;
  }

  .sachet,
  .dispenser,
  .truck {
    box-shadow: 12px 12px 20px 12px rgba(167, 251, 167, 0.231);
  }
}

#work {
  .works {
    text-align: center;
    background: lighten($color: $secondary-color, $amount: 30);
    width: 300px;
    height: 22px;
    // justify-self: center;
    // align-self: center;
    justify-items: center;
    justify-self: center;
    margin-left: 33rem;
  }

  .work-text {
    text-align: center;
    margin-top: -3rem;
    font-size: 40px;
    padding-left: 6rem;
    color: #333;
  }

  .work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  img {
    width: 90px;
    height: 80px;
    padding-bottom: 1rem;
  }

  .work-img {
    display: flex;
    flex-direction: column;
    // margin-left: 2rem;
    line-height: 1.2;
    // font-size: 17px;
    align-items: center;
    // background: #333;

    h2 {
      color: darken($color: #333, $amount: 17);
    }

    p {
      padding-top: 0.5rem;
      font-size: 1rem;
    }
  }
}

.drink {
  margin-bottom: 4rem;
  img {
    height: 478px;
    width: 1263px;
    left: 0;
    top: 0;
    margin-bottom: 2rem;
  }

  .header-drink {
    margin-bottom: 1.5rem;
    font-size: 39px;
    text-align: center;
    color: darken($color: #333, $amount: 17);
  }

  .text-drink {
    text-align: center;
    color: darken($color: #333, $amount: 17);
  }

  p {
    font-size: 22px;
  }
}

.vendor {
  margin-bottom: 4rem;
  img {
    width: 650px;
    height: 550px;
  }
  display: flex;
  // align-items: center;
  background: lighten($color: $secondary-color, $amount: 38);
  // padding-top: 6rem;
  // color: #333;
  // width: 70px;
  // height: 260px;

  &-text {
    align-items: center;
    margin: 2rem;
    padding: 6rem 0 0 2rem;
  }

  .header-vendor {
    margin-bottom: 1.5rem;
    font-size: 49px;
    font-weight: 700;
    // text-align: center;
    color: darken($color: #333, $amount: 17);
  }
  p {
    font-size: 19.6px;
    line-height: 1.4;
    margin-bottom: 5rem;
    // margin-left: -2rem;
  }

  .vendor-text {
    margin-right: 1rem;
    .btn-vendor {
      margin-right: 3.5rem;
      padding: 1rem 4rem;
      cursor: pointer;
      font-size: 20px;
      align-items: center;
      background: darken($color: $primary-color, $amount: 13);
    }
  }
  .fas {
    padding-left: 1.5rem;
  }
}

#phone {
  display: flex;
  // align-items: center;
  // background: #f4f4f4;
  padding-bottom: -14rem;

  .phone {
    text-align: center;
    justify-content: center;
    margin-top: 7rem;
    padding-left: 4.5rem;

    .text-phone {
      font-size: 22px;
      margin-bottom: 2.6rem;
      padding-right: 5rem;
    }

    .header-phone {
      color: $primary-color;
      line-height: 1.3;
      font-size: 2.5rem;
      margin-bottom: 2.8rem;
    }
  }

  .img-app {
    display: flex;
    justify-content: space-evenly;
    padding-right: 2rem;
    margin-bottom: 5rem;
  }
  .img-phone {
    z-index: -2;
    height: 604px;
    width: 303.2px;
    border-radius: 0px;
    top: 0;
    right: 0;
    margin-left: 13rem;
    padding-top: -2rem;
  }
}

.start {
  margin-top: -5rem;
  // margin-top: 2rem;
  background-color: $primary-color;
  text-align: center;

  h3 {
    font-size: 3rem;
    // font-weight: 00;
    padding-top: 6rem;
    color: #fff;
    margin-bottom: 4rem;
  }

  .btn-start {
    background: #fff;
    color: $secondary-color;
    padding: 1rem 4.5rem;
    // margin-bottom: -33rem;
    margin-left: 30rem;
    position: absolute;
    z-index: 2;
  }

  img {
    width: 1190px;
    height: 298px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin-top: -11rem;
    position: relative;
  }
}

#footer {
  background: #f0f5ff;

  .main-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // align-items: center;
    // line-height: 1.4;
    margin-left: 2rem;

    .image {
      padding: 3rem 0 0 3rem;
    }

    div {
      padding-top: 3rem;
      margin-bottom: 4rem;
    }
    ul {
      list-style: none;
      line-height: 2.4;
      font-size: 19px;
      align-items: center;
    }

    h4 {
      color: $secondary-color;
      font-size: 21px;
      padding-bottom: 1rem;
    }
  }

  .subscribe {
    padding-left: 17rem;
    // justify-items: center;

    input {
      padding: 0.45rem 5rem 0.45rem 1rem;
      margin-bottom: 3rem;
      border: 1px solid $secondary-color;
    }
  }

  .btn {
    background: $primary-color;
    padding: 0.5rem 1rem 0.5rem 2rem;
    margin: 0.5rem 0rem 0.5rem -2.999px;
  }

  .text-address {
    padding: 5rem;
    span {
      justify-content: space-around;
    }
  }
}
